<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head th:replace="/layout :: head">
    <title>CreateUser</title>
</head>
<body>
<h3>ADD NEW USER</h3>
<p>
    <a th:href="@{/users}">
        Back to user list
    </a>
</p>

<div id="form">
    <form th:action="@{/users/save}" th:object="${users}" method=post novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>

        <div>
            <label for="firstname">first Name</label>
            <input type="text" id="firstname" th:field="*{firstName}"/>
            <p style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" ></p>
        </div>

        <div>
            <label for="lastname">last name</label>
            <input type="text" id="lastname" th:field="*{lastName}"/>
            <p style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" ></p>
        </div>

        <div>
            <label for="phoneNumber">phone Number</label>
            <input type="text" id="phoneNumber" th:field="*{phoneNumber}"/>
            <p style="color: red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" ></p>
        </div>

        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" th:field="*{email}"/>
            <p style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" ></p>
            <p style="color: red" th:text="${errorMessage}"></p>
        </div>

        <div>
            <label for="age">age</label>
            <input type="number" id="age" th:field="*{age}"/>
            <p style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}" ></p>
        </div>

        <input type="submit" value="Save"/>
    </form>
</div>
</body>
</html>