<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>CreateCustomer</title>
</head>
<body>
<h3>REMOVE CUSTOMER</h3>
<p>
    <a th:href="@{customers}">
        Back To customer list
    </a>
</p>

<div id="form">
    <form action="#" th:action="@{/customers/delete}" th:object="${customer}" method=post novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>

        <div>
            <label for="name">Name</label>
            <input type="text" id="name" th:field="*{name}"/>
        </div>

        <div>
            <label for="email">Email</label>
            <input type="email" id="email" th:field="*{email}"/>
        </div>

        <div>
            <label for="address">Address</label>
            <input type="text" id="address" th:field="*{address}"/>
        </div>

        <input type="submit" value="Remove"/>
    </form>
</div>
</body>
</html>